.wrap_calendar {
	/* background-color: blue; */
	font-size: 2rem;
	width: 50%;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	padding-right: 1.5rem;
}

.dot {
	width: 5px;
	height: 5px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
}

.dotWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

:global(.react-calendar) {
	width: 100%;
	border: none;
}

:global(.react-calendar__navigation__label) {
	font-size: inherit;
}

:global(.react-calendar__navigation__arrow) {
	font-size: inherit;
}